main {
    text-align: center;
}

ul {
    padding: 0px;
}

.todo-item {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10%;
    margin: 5px;
    cursor: pointer;
}

.todo-item.reussi {
    background-color: green
}

.todo-item.enattente {
    background-color: #FFBF00;
}

.todo-item.nouveau {
    background-color: lightblue;
}

.todo-item.urgent {
    border-color: #7f0000;
    border-width: 5px;
    color: white;
}

.todo-item .task-details {
    font-size: 0.9em;
}

.strikethrough {
    text-decoration: line-through;
}
